In [80]:
import pandas as pd
import numpy as np

In [81]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)

In [82]:
#importing the database
loans = pd.read_csv("./kiva_loans.csv")
print(loans.head())

       id  funded_amount  loan_amount             activity          sector  \
0  653051          300.0        300.0  Fruits & Vegetables            Food
1  653053          575.0        575.0             Rickshaw  Transportation
2  653068          150.0        150.0       Transportation  Transportation
3  653063          200.0        200.0           Embroidery            Arts
4  653084          400.0        400.0           Milk Sales            Food

                                                 use country_code   country  \
0            To buy seasonal, fresh fruits to sell.            PK  Pakistan
1  to repair and maintain the auto rickshaw used ...           PK  Pakistan
2  To repair their old cycle-van and buy another ...           IN     India
3  to purchase an embroidery machine and a variet...           PK  Pakistan
4                           to purchase one buffalo.           PK  Pakistan

         region currency  partner_id                posted_time  \
0        Lahore      PKR       247.0  2014-01-01 06:12:39+00:00
1        Lahore      PKR       247.0  2014-01-01 06:51:08+00:00
2     Maynaguri      INR       334.0  2014-01-01 09:58:07+00:00
3        Lahore      PKR       247.0  2014-01-01 08:03:11+00:00
4  Abdul Hakeem      PKR       245.0  2014-01-01 11:53:19+00:00

              disbursed_time                funded_time  term_in_months  \
0  2013-12-17 08:00:00+00:00  2014-01-02 10:06:32+00:00            12.0
1  2013-12-17 08:00:00+00:00  2014-01-02 09:17:23+00:00            11.0
2  2013-12-17 08:00:00+00:00  2014-01-01 16:01:36+00:00            43.0
3  2013-12-24 08:00:00+00:00  2014-01-01 13:00:00+00:00            11.0
4  2013-12-17 08:00:00+00:00  2014-01-01 19:18:51+00:00            14.0

   lender_count                          tags borrower_genders  \
0            12                           NaN           female
1            14                           NaN   female, female
2             6  user_favorite, user_favorite           female
3             8                           NaN           female
4            16                           NaN           female

  repayment_interval        date
0          irregular  2014-01-01
1          irregular  2014-01-01
2             bullet  2014-01-01
3          irregular  2014-01-01
4            monthly  2014-01-01

In [83]:
#creating a new variable to use later
loans['loan_count']=0

#grouping loans by the country of origin, and calculating the average loan value, and counting the loans per country
avg_loans_country = loans.groupby('country').agg({
    'country_code': 'first',           
    'loan_amount': 'mean',   
    'loan_count': 'count'
})

#sorting the countries by their average loan_ammount
avg_loans_country = avg_loans_country.sort_values(by='loan_amount', ascending=True).reset_index()
avg_loans_country[['loan_amount']] = avg_loans_country[['loan_amount']].round(2)
print(avg_loans_country.head())
print(avg_loans_country.tail())

       country country_code  loan_amount  loan_count
0      Nigeria           NG       217.60       10136
1         Togo           TG       267.24        5749
2   Madagascar           MG       323.48        3821
3      Liberia           LR       325.32        3682
4  Philippines           PH       344.94      160441
          country country_code  loan_amount  loan_count
82    Afghanistan           AF       7000.0           2
83         Bhutan           BT      10000.0           2
84          Chile           CL      12265.0          10
85     Mauritania           MR      15000.0           1
86  Cote D'Ivoire           CI      50000.0           1

In [84]:
#sorting the countries by their number of loans and showing the lowest ones
low_loans_country = avg_loans_country.sort_values(by='loan_count', ascending=True)
low_loans_country = avg_loans_country[avg_loans_country['loan_count']<=30]
print(low_loans_country)

                             country country_code  loan_amount  loan_count
62                           Vanuatu           VU      2312.50           4
72  Saint Vincent and the Grenadines           VC      3076.56          16
75                           Namibia         None      4046.88           8
76                              Guam           GU      4300.00           1
78                    Virgin Islands           VI      5000.00           2
82                       Afghanistan           AF      7000.00           2
83                            Bhutan           BT     10000.00           2
84                             Chile           CL     12265.00          10
85                        Mauritania           MR     15000.00           1
86                     Cote D'Ivoire           CI     50000.00           1

In [85]:
african_countries = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde',
                     'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Cote D\'Ivoire',
                     'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon',
                     'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya',
                     'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique',
                     'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
                     'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania',
                     'The Democratic Republic of the Congo', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

#showing only the african countries loan data
avg_loans_africa = avg_loans_country[avg_loans_country['country'].isin(african_countries)]
print(avg_loans_africa)

                                 country country_code  loan_amount  loan_count
0                                Nigeria           NG       217.60       10136
1                                   Togo           TG       267.24        5749
2                             Madagascar           MG       323.48        3821
3                                Liberia           LR       325.32        3682
5                               Cameroon           CM       419.89        2230
8                                  Kenya           KE       455.45       75825
11                            Mozambique           MZ       594.85        3483
15                                 Egypt           EG       673.14        1639
16                                Uganda           UG       747.02       20601
17                           South Sudan           SS       755.62         160
19                          Sierra Leone           SL       772.03        5415
25                               Lesotho           LS       851.95         422
26                              Zimbabwe           ZW       854.59        4034
32                                 Benin           BJ      1044.16         497
35                                 Ghana           GH      1134.07        4374
36                          Burkina Faso           BF      1208.41        2460
37                                Malawi           MW      1237.37        1320
39                              Tanzania           TZ      1308.24        5219
40                                  Mali           ML      1353.62        6639
51                          South Africa           ZA      1518.58         378
52                                Zambia           ZM      1544.23         784
60                               Senegal           SN      2151.71        3269
66                                Rwanda           RW      2471.61        6735
70                               Somalia           SO      3011.67          75
71                               Burundi           BI      3031.65         880
73  The Democratic Republic of the Congo           CD      3664.55        3073
75                               Namibia         None      4046.88           8
81                                 Congo           CG      6142.58         128
85                            Mauritania           MR     15000.00           1
86                         Cote D'Ivoire           CI     50000.00           1

In [86]:
#categorizing the average loan ammount in the african countries
avg_loans_africa.loc[:, 'average_loan_size'] = avg_loans_africa['loan_amount'].apply(lambda x:
    'small' if x > 0 and x <= 1000 else
    'medium' if x > 1000 and x <= 3000 else
    'large' if x > 3000 and x <= 8000 else
    'very large')

print(avg_loans_africa.reset_index())

    index                               country country_code  loan_amount  \
0       0                               Nigeria           NG       217.60
1       1                                  Togo           TG       267.24
2       2                            Madagascar           MG       323.48
3       3                               Liberia           LR       325.32
4       5                              Cameroon           CM       419.89
5       8                                 Kenya           KE       455.45
6      11                            Mozambique           MZ       594.85
7      15                                 Egypt           EG       673.14
8      16                                Uganda           UG       747.02
9      17                           South Sudan           SS       755.62
10     19                          Sierra Leone           SL       772.03
11     25                               Lesotho           LS       851.95
12     26                              Zimbabwe           ZW       854.59
13     32                                 Benin           BJ      1044.16
14     35                                 Ghana           GH      1134.07
15     36                          Burkina Faso           BF      1208.41
16     37                                Malawi           MW      1237.37
17     39                              Tanzania           TZ      1308.24
18     40                                  Mali           ML      1353.62
19     51                          South Africa           ZA      1518.58
20     52                                Zambia           ZM      1544.23
21     60                               Senegal           SN      2151.71
22     66                                Rwanda           RW      2471.61
23     70                               Somalia           SO      3011.67
24     71                               Burundi           BI      3031.65
25     73  The Democratic Republic of the Congo           CD      3664.55
26     75                               Namibia         None      4046.88
27     81                                 Congo           CG      6142.58
28     85                            Mauritania           MR     15000.00
29     86                         Cote D'Ivoire           CI     50000.00

    loan_count average_loan_size
0        10136             small
1         5749             small
2         3821             small
3         3682             small
4         2230             small
5        75825             small
6         3483             small
7         1639             small
8        20601             small
9          160             small
10        5415             small
11         422             small
12        4034             small
13         497            medium
14        4374            medium
15        2460            medium
16        1320            medium
17        5219            medium
18        6639            medium
19         378            medium
20         784            medium
21        3269            medium
22        6735            medium
23          75             large
24         880             large
25        3073             large
26           8             large
27         128             large
28           1        very large
29           1        very large

C:\Users\dias3\AppData\Local\Temp\ipykernel_8560\413949200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avg_loans_africa.loc[:, 'average_loan_size'] = avg_loans_africa['loan_amount'].apply(lambda x: